[user]
	email = tsukada.akihiro@gmail.com
	name = akitsukada
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	st = status
	xlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	vlog = log --pretty=format:'%h by %an, %ad: %s' --date=relative
	glog = log --graph --pretty=format:\"%C(red)%h%Creset %C(cyan)<%an>%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative
[core]
	editor = /usr/bin/vim
	pager = less -r
	ecxludesfile = ~/.gitignore
